<section *ngIf="step1" class="w-50 mx-auto rounded mt-5 bg-main-light p-3 shadow">
<form [formGroup]="forgotpassword" (ngSubmit)="handelforgotpas()">
    <label for="email">Enter Email</label>
<input formControlName="email" class="form-control" id="email" type="email">
<p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto  mt-1 p-1 mb-0">{{userMsg}}</p>
<button class="main-btn w-100 mt-3">
    Forgot Password
    Login <i *ngIf="lodingSpin" class="fas fa-spin fa-spinner"> </i>
</button>
</form>
</section>
<section  *ngIf="step2"  class="w-50 mx-auto rounded mt-5 bg-main-light p-3 shadow">
<form [formGroup]="restCode"  (ngSubmit)="handelrestCode()"  >
    <label for="resetCode">Enter Reset Code</label>
<input formControlName="resetCode" class="form-control" id="resetCode" type="text">
<p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto  mt-1 p-1 mb-0">{{userMsg}}</p>
<button class="main-btn w-100  mt-3">
    Reset Code
    Login <i *ngIf="lodingSpin" class="fas fa-spin fa-spinner"> </i></button>
</form>
</section>
<section  *ngIf="step3" class="w-50 mx-auto rounded mt-5 bg-main-light p-3 shadow">
<form [formGroup]="changeforgotpassword"  (ngSubmit)="handelchanforpass()" >
    <label for="newPassword">Write your new password</label>
<input formControlName="newPassword" class="form-control" id="newPassword" type="password">
<p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 mt-1 mb-0">{{userMsg}}</p>
<button class="main-btn w-100 mt-3">
    Rest Password
    Login <i *ngIf="lodingSpin" class="fas fa-spin fa-spinner"> </i>
</button>
</form>
</section>