<section class="w-75 mx-auto shadow rounded p-4 mb-4 bg-main-light ">
    <h1 class="mt-1 mb-2">Register Now</h1>
    <form [formGroup]="registerFrom" (ngSubmit)="handelForm()">
        <div class="form-itme">
            <label for="name">Name</label>
            <input formControlName="name" class="form-control" id="name" type="text">
            <div *ngIf="registerFrom.get('name')?.errors&&registerFrom.get('name')?.touched" class="alert alert-danger mt-1 mb-0 small p-1 w-50 mx-auto text-center">
                <p *ngIf="registerFrom.get('name')?.getError('required')" class="mb-0 ">Name Required</p>
                <p  *ngIf="registerFrom.get('name')?.getError('minlength')" class="mb-0 ">Name Minlength 3</p>
                <p *ngIf="registerFrom.get('name')?.getError('maxlength')" class="mb-0 ">Name Maxlength 20</p>
            </div>
        </div>
        <div class="form-itme">
            <label for="email">Email</label>
            <input formControlName="email" class="form-control" id="email" type="text">
            <div *ngIf="registerFrom.get('email')?.errors&&registerFrom.get('email')?.touched" class="alert mt-1 alert-danger mb-0 small p-1 w-50 mx-auto text-center">
                <p *ngIf="registerFrom.get('email')?.getError('required')" class="mb-0 ">Email Required</p>
                <p  *ngIf="registerFrom.get('email')?.getError('email')" class="mb-0 ">Email not valid</p>
               
            </div>
        </div>
        <div class="form-itme">
            <label for="password">password</label>
            <input formControlName="password" class="form-control" id="password" type="password">
            <div *ngIf="registerFrom.get('password')?.errors&&registerFrom.get('password')?.touched" class="alert mt-1 alert-danger mb-0 small p-1 w-50 mx-auto text-center">
                <p *ngIf="registerFrom.get('password')?.getError('required')" class="mb-0 ">Password Required</p>
                <p  *ngIf="registerFrom.get('password')?.getError('pattern')" class="mb-0 ">Password not valid</p>
                
            </div>
        </div>
        <div class="form-itme">
            <label for="rePassword">Repassword</label>
            <input formControlName="rePassword" class="form-control" id="rePassword" type="password">
            <div *ngIf="registerFrom.get('rePassword')?.errors&&registerFrom.get('rePassword')?.touched" class="alert mt-1 alert-danger mb-0 small p-1 w-50 mx-auto text-center">
                <p *ngIf="registerFrom.get('rePassword')?.getError('required')" class="mb-0 ">Repassword Required</p>
                <p  *ngIf="registerFrom.get('rePassword')?.getError('mismatch')" class="mb-0 ">Repassword not matched</p>
             
            </div>
        </div>
        <div class="form-itme">
            <label for="phone">Phone</label>
            <input formControlName="phone" class="form-control" id="phone" type="text">
            <div *ngIf="registerFrom.get('phone')?.errors&&registerFrom.get('phone')?.touched" class="alert mt-1 alert-danger mb-0 small p-1 w-50 mx-auto text-center">
                <p *ngIf="registerFrom.get('phone')?.getError('required')" class="mb-0 ">Phone Required</p>
                <p  *ngIf="registerFrom.get('phone')?.getError('pattern')" class="mb-0 ">Phone number not valid</p>
               
            </div>
        </div>
        <button [disabled]="registerFrom.invalid" class="main-btn mt-3">
            Register <i *ngIf="lodingSpin" class="fas fa-spin fa-spinner"> </i>
        </button>

        <p *ngIf="errMassge" class="alert alert-danger p-1 mb-0 w-50 mx-auto text-center">{{errMassge}}</p>

    </form>
</section>