:host{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.mainslider{
    padding-top: 70px;
}

.slidupbtn{
    position: fixed;
    bottom:10px ;
    right: 10px;
    z-index: 99;
    width: 30px;
    height: 30px;
    border-radius: 10%;
    background-color: #0aad0a;
    color: white;
    border: unset;
}