<section class="w-75 mx-auto shadow rounded p-4 mb-4 bg-main-light ">
    <h1 class="mt-1 mb-2">Login Now</h1>
    <form [formGroup]="loginform" (ngSubmit)="handelForm()">
 
        <div class="form-itme">
            <label for="email">Email</label>
            <input formControlName="email" class="form-control" id="email" type="text">
            <div *ngIf="loginform.get('email')?.errors&&loginform.get('email')?.touched" class="alert mt-1 alert-danger mb-0 small p-1 w-50 mx-auto text-center">
                <p *ngIf="loginform.get('email')?.getError('required')" class="mb-0 ">Email Required</p>
                <p  *ngIf="loginform.get('email')?.getError('email')" class="mb-0 ">Email not valid</p>
               
            </div>
        </div>
        <div class="form-itme">
            <label for="password">password</label>
            <input formControlName="password" class="form-control" id="password" type="password">
            <div *ngIf="loginform.get('password')?.errors&&loginform.get('password')?.touched" class="alert mt-1 alert-danger mb-0 small p-1 w-50 mx-auto text-center">
                <p *ngIf="loginform.get('password')?.getError('required')" class="mb-0 ">Password Required</p>
                <p  *ngIf="loginform.get('password')?.getError('pattern')" class="mb-0 ">Password not valid</p>
                
            </div>
        </div>
     
  <div class="d-flex justify-content-between align-items-center">
     
    <button [disabled]="loginform.invalid" class="main-btn mt-3">
        Login <i *ngIf="lodingSpin" class="fas fa-spin fa-spinner"> </i>
    </button>
    <a routerLink="/forgotpassword"  class="main-btn mt-3">
        Forgot Password 
        
    </a>

  </div>

        <p *ngIf="errMassge" class="alert alert-danger p-1 mb-0 w-50 mx-auto text-center">{{errMassge}}</p>

    </form>
   
</section>