<nav class="navbar navbar-expand-md navbar-light bg-main-light ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="home">
          <img src="./assets/freshcart-logo.svg" alt="Fresh cart">
      </a>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
       
          <ul class="navbar-nav ms-auto mt-2 mt-lg-0 align-items-center">
          
              <li class="nav-item d-flex gap-3 me-3">
                 <i class="fab fa-instagram cursor-pointer"></i>
                 <i class="fab fa-facebook cursor-pointer"></i>
                 <i class="fab fa-tiktok cursor-pointer"></i>
                 <i class="fab fa-twitter cursor-pointer"></i>
                 <i class="fab fa-youtube cursor-pointer"></i>
              </li>
              <li class="nav-item">
                  <span class="nav-link" routerLink="login" routerLinkActive="active-link" role="button">Login</span>
              </li>
              <li class="nav-item">
                  <span class="nav-link" routerLink="register" routerLinkActive="active-link" role="button">Register</span>
              </li>
        
          </ul>
    
      </div>
</div>
</nav>